#about{

  width: 100%;
  background-color: #605856;
  color: #FFF;
}

.about-me{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);;
  padding: 5%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#education{
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
  font-family: #FFF;
  font-family: 'Eczar', serif;
}
#edu-card-holder{
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.edu-card{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 350px;
  height: 110px;
  margin: 20px 2%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #000;
  background-color: #FFF;
  padding: 5px;
}

.edu-card img{
  height: 90px;
  width: 90px;
  padding: 5px;
}

.edu-card p{
  margin-left: 10px;
  text-align: center;
}

#connect-holder{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: 5px;
}

#connect-holder img{
  height: 20px;
  width: 20px;
  opacity: 0.4;
  margin: 10px;
}

#connect-holder img:hover{
  opacity: 1;
}
