*{
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  margin: 0;
	padding: 0;
	min-width: 100%;
  min-height: 100%;
}

@font-face{
	font-family: Avenir;
	src: url(../assets/Avenir/Avenir.otf);
}

#home{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(270deg, rgb(75, 207, 147), rgb(75, 121, 207), rgb(162, 75, 207)) 0% 0% / 400% 400%;
	-webkit-animation: backgroundGradientAnimation 30s ease infinite;
	-moz-animation: backgroundGradientAnimation 30s ease infinite;
	animation: backgroundGradientAnimation 30s ease infinite;
}

#main{
	overflow-y:scroll;
	position: absolute;
	top: 80px;
	height: 90%;
	width: 100%;

}
.navigation-bar{
  width: 100%;
  height: 80px;
	position: fixed;
	z-index: 999;
	overflow: hidden;
}

.navigation-bar ul{
	height: 100%;
	display: flex;
	align-items: center;
  list-style-type: none;
  overflow: hidden;
  font-family: Avenir;
  font-size: 30px;
  color: #DFDCE3;
	margin: 0;
	overflow: hidden;
}

.navigation-bar li{
	padding: 0 10px;
	text-decoration: none;
	float: left;
	opacity: 0.7;
}
.navigation-bar li:hover{
		text-decoration: none;
		color: rgba(0,0,0,0.5);
}

.navigation-bar-active{
	color: rgba(0,0,0,1);
}

.introduction{
	position: relative;
	font-family: 'Eczar', serif;
	position: block;
  display: flex;
	height: 80%;
  justify-content: center;
  flex-direction: column;

}
.avatar img{
  margin: -1% auto 1% auto;
  height: 150px;
  width: 150px;
  border: 5px solid #DFDCE3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  text-align: center;
  top: 10%;
  color: #DFDCE3;
  font-size: 30px;
}



#down-arrow img{
	position: absolute;
  animation: blink-animation 1s steps(5, start) infinite;  align-items: center;
  height: 50px;
  width: 50px;
	left: 0;
	right: 0;
  margin: 0px auto 3% auto;
}



@keyframes blink-animation {
  to{
      opacity: 0.5;
  }
}

@-webkit-keyframes backgroundGradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes backgroundGradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes backgroundGradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
