body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: column;
}

.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* What's new? */

.title{
  font-size: 35px;
  font-family: 'Space Mono', monospace;
  margin: 0 10%;
}

.new-card{
  margin: 0 10%;
}

.new-card-header{
  background-color: #4ABDAC;
  color: #F7B733;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 35px;
  height: 40px;
  padding: 10px;
}

.new-card-image img{
  height: 270px;
  width: 350px;
}

.new-card-desp{
  box-sizing: border-box;
  padding: 5px;
  font-size: 13px;
  height: 270px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #DFDCE3;
  color: ##000000;
}

.programming-langauges{
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  background-color: #DFDCE3;
}

.card{
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 350px;
  height: 200px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s;
  overflow: hidden;
}

.card:hover{
  height: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px 5px 0 0;
}

.feature-card{
  height: 150px;
}

.feature-card:hover{
  height: 270px;
}

.card-header img{
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header-title{
  background-color: #F7B733;
  padding: 5px 3px;
  font-weight: bold;
  font-family: Avenir;
  text-align: center;
  font-size: 20px;
}

.card-desp{
  padding: 5px 3px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
