body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: column;
}

.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* What's new? */

.title{
  font-size: 35px;
  font-family: 'Space Mono', monospace;
  margin: 0 10%;
}

.new-card{
  margin: 0 10%;
}

.new-card-header{
  background-color: #4ABDAC;
  color: #F7B733;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 35px;
  height: 40px;
  padding: 10px;
}

.new-card-image img{
  height: 270px;
  width: 350px;
}

.new-card-desp{
  box-sizing: border-box;
  padding: 5px;
  font-size: 13px;
  height: 270px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #DFDCE3;
  color: ##000000;
}

.programming-langauges{
  font-size: 14px;
  font-weight: bold;
  color: #FC4A1A;
  padding: 5px;
  text-align: right;
}

.card{
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: 15px;
}

.feature-card{
  height: 350px;
}

.card-header img{
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header-title{
  background-color: #F7B733;
  padding: 5px 3px;
  font-weight: bold;
  font-family: Avenir;
  font-size: 20px;
}

.card-desp{
  padding: 5px 3px;
  background-color: #EEE;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
