#projects{
	width: 100%;
	background-color: #EFD780;
	padding: 20px;
}

.heading{
  font-size: 40px;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  font-family: 'Eczar', serif;
}

.card-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  display: flex;
  flex-flow: column;
  width: 300px;
  margin: 20px 5%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card img{
  height: 170px;
  width: 100%;
  background-color: #FFF
}

.card-info{
  width: 100%;
  height: 150px;
  transition: height 1s ease;
  overflow: hidden;
  background-color: #333;
  color: #FBFCFF;
}

.card-name{
  font-size: 25px;
  font-weight: 700;
  height: 40px;
  padding-top: 5px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}


.card-desp{
  padding: 5px;
  margin: 10px 0 0 20px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.card-prog{
  font-size: 20px;
  font-weight: 600;
  background-color: #D0CCD0;
  color: #000;
  padding: 3px;
  padding-left: 5px;
  font-family: 'Space Mono', monospace;
}

.card-prog img{
  float: right;
  height: 30px;
  width: 30px;
  opacity: 0.4;
  padding: 3px;
  background-color: inherit;
}
.card-prog img:hover{
  opacity: 1;
}
