body{
  margin: 0px;
}

*{
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face{
	font-family: Avenir;
	src: url(../assets/Avenir/Avenir.otf);
}

@font-face{
	font-family: HelveticaNeue;
	src: url(../assets/Helvetica/HelveticaNeue.otf);
}


@font-face{
	font-family: CenturyGothic;
	src: url(../assets/CenturyGothic/CenturyGothic.ttf);
}
.navigation-bar{
  display: flex;
  margin: auto;
  background-color: #4ABDAC;
  width: 100%;
  height: 80px;
  align-items: center;
}

.navigation-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Avenir;
  font-size: 30px;
  color: #DFDCE3;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.navigation-bar li{
  margin: 0 10px;
  display: block;
  padding: 14px 16px;
}

.navigation-bar-item-right{
  float: right;
}

.navigation-bar-item-left{
  float: left;
}

li:hover {
    color: #F7B733;
}

.navigation-bar-active{
    color: #F7B733;
    background-color: #16A085;
}

.avatar img{
  margin: 1% auto;
  height: 150px;
  width: 150px;
  border: 5px solid #FC4A1A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  text-align: center;
  top: 10%;
  color: #F7B733;
  font-size: 30px;
}

.introduction{
  display: flex;
  justify-content: center;;
  flex-direction: column;
  margin-top: 17%;
}


.down-arrow img{
  animation: blink-animation 1s steps(5, start) infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 0px auto 3% auto;
}

@keyframes blink-animation {
  to{
      opacity: 0.5;
  }
}
